/* Admin Reg */
*{
    margin: 0;
    padding: 0;
  }
  
  body{
   
    height: 100vh;
    width: 100%;

    
  }
  .adreg{
    
   
    margin-left: 30%;
  
    height: 60vh;
    width: 40%;
  }
  .form{
    margin-left: 20%;
  }
  .adinput{
    width: 300px!important;
  }