/* Admin Reg */
*{
    margin: 0;
    padding: 0;
  }
  
  body{
   
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(233, 163, 233), rgb(236, 173, 173)); 
    
  }
  .adreg{
    
    background-color: rgb(160, 160, 233);
    margin-left: 30%;
  
    height: 60vh;
    width: 40%;
  }
  .form{
    margin-left: 20%;
  }
  .adinput{
    width: 300px!important;
  }